// $accentColor: yellow;
@import '../vars/vars';
@mixin marginLeft {
    margin-left: 60px;
}
body {
    width: 100%;
}
main {
    width: 100%;
}
header {
    max-width: 1200px;
    padding: 15px 0;
    background-color: adjust-hue($accentColor, 30);
    border: 5px solid adjust-hue($accentColor, 60);
    height: 200px;
    .logo {
        padding: 10px;
        display: inline-block;
        text-decoration: $accentColor;
        color: $accentColor;
        transition: .5s;
        @include marginLeft;
        &:hover {
            color: lighten($accentColor, 15);
        }
    }
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin-left: 50%;
    }
}
.nav__link {
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
}
.section1 {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
    h3 {text-transform: capitalize;
        font-family: 'Kaushan Script', cursive;
    }
    h2 {
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
    }
    h2::after {
        content: '';
        width: 20%;
        display: block;
        height: 2px;
        background-color: gray;
        margin: 0 auto;
    }
    a {
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        border: 2px solid #fff;
    }
    .lines {
        display: flex;
        justify-content: space-evenly;
        margin: 50px auto;
        width: 100%;
        max-width: 1200px;
    }
.line {
    width: 20%;
    height: 4px;
    background-color: #fff;
    position: relative;
}
.line1::after {
    content: '';
    // width: 100px;
    height: 4px;
    background-color: red;
    position: absolute;
    // top: 503px;
    // left: 57px;
    right: 59%;
}
}
